.direct {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 55px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 25px;
}

.table {
    border: 1px solid black;
}

.contain {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    width: 100%;
}

.btnND {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}
.button {
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    cursor: pointer;
    height: 48px;
    transition: box-shadow .15s, transform .15s;
    font-size: 18px;
    width: 150px;
    color: white !important;
    background-color: #5698ff !important;
    
}

.button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}