.bg {
    background-color: #c1c5d1;
    height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.image {
    width: 400px;
    height: 500px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.switch{
    margin: 30px 0;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFBFBF;
}
.switch span{
    padding: 5px 10px;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.switch span.active {
    background-color: #FD7575 !important;
}
.btnSubmit{
    width: 130px;
    height: 40px;
    font-size: 15px;
    background: #FFBFBF;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 10px 0 grey; */
    cursor: pointer;
    transition: all 0.2s linear;
    margin-top: 20px;
}
.btnSubmit:active{
    transform: translateY(10px);
    box-shadow: 0 0 0 grey;
}